# Terraform state files
*.tfstate
*.tfstate.*

# Terraform backup files
*.backup

# Terraform plan files
*.tfplan

# Terraform variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# Local directories
.terraform/
.terraform.lock.hcl

# Sensitive environment variables
.env
.env.*

# IDE-specific files and directories
.idea/
.vscode/
*.iml

# Logs and temp files
*.log
*.tmp
*.swp
.DS_Store

# Ignore specific system files
Thumbs.db

# Exclude secrets (GitHub Actions and others)
.github/secrets/
